package partials

templ Header() {
	<div class="w-full text-center py-16 lg:py-25 bg-gray-700">
		<a href="/">
			<h1 class="mb-2 text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl">
				The Azure Archives
			</h1>
			<h2 class="mb-4 text-xl font-bold text-gray-300 md:text-2xl lg:text-3xl">
				A World of Warcraft Roleplay Archive
			</h2>
		</a>
	</div>
}
