package components

templ SiteMenu() {
	<ul class="bg-black/35">
		<li class="pl-3 p-1">
			<a class="text-white" href="/">Home</a>
		</li>
		<li class="pl-3 p-1">
			<a class="text-white" href="/about">About</a>
		</li>
		<li class="pl-3 p-1">
			<a class="text-white" href="/terms">Terms & Conditions</a>
		</li>
		<li class="pl-3 p-1">
			<a class="text-white" href="/faq">FAQ</a>
		</li>
		<li class="pl-3 p-1">
			<a class="text-white" href="/contact">Contact</a>
		</li>
	</ul>
}
