package components

templ UserMenu() {
	<ul class="bg-black/35">
		<li class="pl-3 p-1">
			<a class="text-white" href="/s/register">Register</a>
		</li>
		<li class="pl-3 p-1">
			<a class="text-white" href="/s/login">Login</a>
		</li>
		<li class="pl-3 p-1">
			<a class="text-white" href="/s/reset">Reset Password</a>
		</li>
	</ul>
}
